/* body */

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: lightgray;

}

/* Footer */

footer{
    background-color: white;

}

#logo-title{
    font-size: 4em;
    display: inline-block;
    font-weight: bold;
    margin-left: 2%;
}

.container{
    background-color: white;
    padding: 2%;
    border-radius: 5px 5px 0px 0px;
    margin: 5% 13%;

}

.button{
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 16px;
}

.button:first-child{
    background-color: rgb(71, 173, 241) ;
    color: white;
    border-color: rgb(71, 173, 241);
}

.button:last-child{
    background-color: white;
    color: lightgrey;
    border-color: lightgrey;
}


